.form-login, .btn-config  {
  max-width: 650px;
  
}

/*.form_cadastro {
  background-color: #614EA6;
  width: 100%;
  margin: auto;
  padding: 15%;
  height: 100vh;
}*/

.msg-login {
  font-size: 20px;
}

.msg-login a {
  text-decoration: none;
  transition: .3s ease-in;
}

.msg-login a:hover {
  color: #999;
}
